*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App{
  display:flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  margin: 0%;
}

.counter {
  margin: 0%;
  margin-top:35vh;
}
